<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Frontend</title>
  </head>
  <body>
    <!-- Navbar -->
    <app-header-view></app-header-view>

    <!-- content -->
    <div class="container">
      <div class="mx-auto w-25" style="max-width: 100%">
        <h2 class="text-center mb-3">Ajouter produit</h2>
        <form [formGroup]="form" (ngSubmit)="addProduit()">
          <!-- Nom -->
          <div class="row">
            <div class="col-md-12 form-group mb-3">
              <label for="name" class="form-label">Nom</label>
              <input
                type="text"
                name="nom"
                id="nom"
                formControlName="nom"
                class="form-control"
                placeholder="nom"
                required
              />
            </div>
          </div>
          <!-- Prix -->
          <div class="row">
            <div class="col-md-12 form-group mb-3">
              <label for="email" class="form-label">Prix</label>
              <input
                type="text"
                name="prix"
                id="prix"
                formControlName="prix"
                class="form-control"
                placeholder="prix"
                required
              />
            </div>
          </div>
          <!-- Quantite -->
          <div class="row">
            <div class="col-md-12 form-group mb-3">
              <label for="email" class="form-label">Quantite</label>
              <input
                type="text"
                name="quantite"
                id="quantite"
                formControlName="quantite"
                class="form-control"
                placeholder="quantite"
                required
              />
            </div>
          </div>

          <!-- button -->
          <div class="row">
            <div class="col-md-12 form-group">
              <input
                type="submit"
                value="Ajouter"
                class="btn btn-primary w-100"
                [disabled]="!form.valid"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
